<div>
    <h1>Create</h1>
    <form [formGroup]='bikeFormGroup' novalide (ngSubmit)="saveBike()">
        <div>
            <label for="">Model</label>
            <input formControlName="model" type="text" name="model">
            <div class="validations" *ngIf="bikeFormGroup.get('model').invalid
             && (bikeFormGroup.get('model').dirty || bikeFormGroup.get('model').touched)
            ">
                <div *ngIf="bikeFormGroup.get('model').errors.required">
                    <p>Este Campo es requerido</p>
                </div>
                <div  *ngIf="bikeFormGroup.get('model').errors.minlength">
                    <p>Este campo debe tener minimo 2 caracteres</p>
                </div>
                 <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
                     <p>Este campo debe tener 5 caracteres como minimo</p>

                </div>
            </div>
        </div>
        <div>
            <label for="">Price</label>
            <input formControlName="price" type="text" name="price">
        </div>
        <div>
            <label for="">Serial</label>
            <input formControlName="serial" type="text" name="serial">
        </div>
        <button type="submit" [disabled]="bikeFormGroup.invalid">Guardar</button>
    </form>
</div>
