<div>
    <h1>Create</h1>
    <form [formGroup]='clientFormGroup' novalide (ngSubmit)="saveClient()">
        <div>
            <label for="">Document Number</label>
            <input formControlName="documentNumber" type="text" name="documentNumber">
            <div class="validations" *ngIf="clientFormGroup.get('name').invalid
             && (clientFormGroup.get('documentNumber').dirty || clientFormGroup.get('documentNumber').touched)
            ">
                <div *ngIf="bikeFormGroup.get('documentNumber').errors.required">
                    <p>Este Campo es requerido</p>
                </div>
                <div  *ngIf="bikeFormGroup.get('documentNumber').errors.minlength">
                    <p>Este campo debe tener minimo 9 caracteres</p>
                </div>
                 <div *ngIf="bikeFormGroup.get('documentNumber').errors.maxlength">
                     <p>Este campo debe tener 10 caracteres como maximo </p>

                </div>
            </div>
        </div>
        <div>
            <label for="">Name</label>
            <input formControlName="name" type="text" name="name">
        </div>
        <div>
            <label for="">E-mail</label>
            <input formControlName="email" type="text" name="email">
        </div>
        <div>
            <label for="">Phone Number</label>
            <input formControlName="phoneNumber" type="text" name="phoneNumber">
        </div>
        <button type="submit" [disabled]="clientFormGroup.invalid">Guardar</button>
    </form>
</div>