<h1>Update</h1>
<p>{{ bike | json}}</p>
<form [formGroup]="bikeFormUpdateGroup" novalidate (ngSubmit)="updateBike()" >
<div>
    <h1>Update</h1>
        <div>
            <label for="">Model</label>
            <input formControlName="model" type="text" name="model">
            <div class="validations" *ngIf="bikeFormUpdateGroup.get('model').invalid
             && (bikeFormUpdateGroup.get('model').dirty || bikeFormUpdateGroup.get('model').touched)
            ">
                <div *ngIf="bikeFormUpdateGroup.get('model').errors.required">
                    <p>Este Campo es requerido</p>
                </div>
                <div  *ngIf="bikeFormUpdateGroup.get('model').errors.minlength">
                    <p>Este campo debe tener minimo 2 caracteres</p>
                </div>
                 <div *ngIf="bikeFormUpdateGroup.get('model').errors.maxlength">
                     <p>Este campo debe tener 5 caracteres como maximo</p>
                </div>
            </div>
        </div>
        <div>
            <label for="">Price</label>
            <input formControlName="price" type="text" name="price">
        </div>
        <div>
            <label for="">Serial</label>
            <input formControlName="serial" type="text" name="serial">
        </div>
        <button type="submit" [disabled]="bikeFormUpdateGroup.invalid">Guardar</button>
    </form>
</div>
