<p>client-list works!</p>
<section>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE NUMBER</th>
                <th>DOCUMENT NUMBER</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bikeList">
                <th>{{ item.id }}</th>
                <th>{{ item.name }}</th>
                <th>{{ item.phoneNumber }}</th>
                <th>{{ item.documentNumber }}</th>
                <td><a [routerLink]="['../client-update', item.id]">Update</a></td>
            </tr>
        </tbody>
    </table>
</section>
