<h1>Update</h1>
<p>{{ client | json}}</p>
<form [formGroup]="clientFormUpdateGroup" novalidate (ngSubmit)="updateClient()" >
<div>
    <h1>Update</h1>
        <div>
            <label for="">Document Number</label>
            <input formControlName="documentNumber" type="text" name="documentNumber">
            <div class="validations" *ngIf="clientFormUpdateGroup.get('documentNumber').invalid
             && (clientFormUpdateGroup.get('documentNumber').dirty || clientFormUpdateGroup.get('documentNumber').touched)
            ">
                <div *ngIf="clientFormUpdateGroup.get('documentNumber').errors.required">
                    <p>Este Campo es requerido</p>
                </div>
                <div  *ngIf="clientFormUpdateGroup.get('documentNumber').errors.minlength">
                    <p>Este campo debe tener minimo 2 caracteres</p>
                </div>
                 <div *ngIf="clientFormUpdateGroup.get('documentNumber').errors.maxlength">
                     <p>Este campo debe tener 5 caracteres como maximo</p>
                </div>
            </div>
        </div>
        <div>
            <label for="">Name</label>
            <input formControlName="name" type="text" name="name">
        </div>
        <div>
            <label for="">E-mail</label>
            <input formControlName="email" type="text" name="email">
        </div>
        <div>
            <label for="">Phone Number</label>
            <input formControlName="phoneNumber" type="text" name="phoneNumber">
        </div>
        <button type="submit" [disabled]="clientFormUpdateGroup.invalid">Guardar</button>
    </form>
</div>
