<section>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>MODEL</th>
                <th>PRICE</th>
                <th>SERIAL</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bikeList">
                <th>{{ item.id }}</th>
                <th>{{ item.model }}</th>
                <th>{{ item.price }}</th>
                <th>{{ item.serial }}</th>
                <td><a [routerLink]="['../bike-update', item.id]">Update</a></td>
            </tr>
        </tbody>
    </table>
</section>
